VITE_SUPABASE_URL=https://wynprdvpbnhgqxiwwopj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind5bnByZHZwYm5oZ3F4aXd3b3BqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxMjMwNjksImV4cCI6MjEwNDY5OTA2OX0.xK0EALJPfdza1O56tJMjgQhf8TgRbSVQ7y3kjGfJbEk
